$fonts-path: '/assets/fonts/';

@font-face {
    font-family: "KG-SummerStorm";
    src: url($fonts-path + 'kgsummerstormrough-webfont.eot');
    src: url($fonts-path + 'kgsummerstormrough-webfont.eot?#iefix') format('embedded-opentype'),
         url($fonts-path + 'kgsummerstormrough-webfont.woff2') format('woff2'),
         url($fonts-path + 'kgsummerstormrough-webfont.woff') format('woff'),
         url($fonts-path + 'kgsummerstormrough-webfont.ttf') format('truetype'),
         url($fonts-path + 'kgsummerstormrough-webfont.svg#kg_summer_storm_roughregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }